services:
  db:
    container_name: frp-db-1
    image: postgres
    restart: no
    shm_size: 128mb

    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: frp_db

    volumes:
      - db_data:/var/lib/postgresql
      - ./code/db-init:/docker-entrypoint-initdb.d/
    ports:
        - "5432:5432"

  backend:
    build:
      context: .
      dockerfile: code/backend/Dockerfile
    depends_on:
      - db
    environment:
      DB_URL: jdbc:postgresql://db:5432/frp_db
      DB_USER: sa
      DB_PASS: postgres
      JWT_SECRET_KEY: secret-key
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./code/frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    ports:
      - "3000:80"

  sonarqube:
    image: sonarqube:community
    ports:
      - "9000:9000"
    environment:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_logs:/opt/sonarqube/logs
      - sonar_extensions:/opt/sonarqube/extensions

volumes:
  db_data:
    driver: local
  sonar_data:
    driver: local
  sonar_logs:
    driver: local
  sonar_extensions:
    driver: local